<div>
  <h1>Real Time products</h1>

  <div>
    <form id="formProducts" method="POST" action="/realTimeProducts">
      <input
        type="text"
        name="title"
        placeholder="Nombre del producto"
        required
      />
      <input
        type="text"
        name="description"
        placeholder="Descripción del producto"
        required
      />
      <input
        type="number"
        name="price"
        placeholder="Precio del producto"
        required
      />
      <input
        type="number"
        name="stock"
        placeholder="Stock del producto"
        required
      />
      <input
        type="text"
        name="thumbnail"
        placeholder="Imagen del producto"
        required
      />
      <input type="submit" value="Enviar producto" />

    </form>
  </div>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Precio</th>
        <th>Stock</th>
      </tr>
    </thead>
    <tbody>
      {{#each products}}
        <tr>
          <td>{{this.title}}</td>
          <td>{{this.description}}</td>
          <td>{{this.price}}</td>
          <td>{{this.stock}}</td>
          <td><img
              src={{this.thumbnail}}
              class="img-thumbnail"
              alt="thumbnail"
            /></td>
        </tr>
      {{/each}}
    </tbody>
  </table>

  <button class="btn btn-primary" onclick="{goProducts()}">Go Back</button>

</div>
<script src="/socket.io/socket.io.js"></script>
<script src="../../public/js/index.js"></script>
<script>
  function goProducts() { window.location.href = '/'; }
</script>